.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.buy-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #eee;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

/* Search Box */
.search-box {
  position: relative;
}

.search-box input {
  padding: 10px 35px 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

/* Search Icon */
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}